.DS_Store
/trained_weights
/models/ops/build
/models/ops/dist
/models/ops/MultiScaleDeformableAttention3D.egg-info
/models/ops/MultiScaleDeformableAttention2D.egg-info
/models/models2D
__pycache__
/env
/dump/sample
.idea
/wandb
.ipynb_checkpoints/
pyged/ext/
pyged/build/